*{
    padding: 0;
    margin: 0;
    font-family: 'Road Rage', cursive;
    box-sizing: border-box;
}
.navbar-brand{
    font-size: 120px;
    padding: 20px;
}
.navbar-nav{
    font-size: 40px;
}
.dropdown-menu{
    font-size: 30px;
}
.text-center{
    font-size: 90px;
}
.nos{
    font-size: 160px;
    text-align: center;
}
.nos__text{
    font-size: 40px;
    text-align: center;
}
.h1-contact{
    padding: 100px 0px 150px;
    color: rgb(43, 39, 39);
    text-align: center;
    font-size: 100px;
}
/** UTILIZANDO FLEXBOX **/
.flex-contact{
    border-radius: 50px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    background: rgb(43, 39, 39);
    margin: 50px 50px;
    padding: 20px;
    border: 15px solid rgb(176, 212, 221);
    outline: 4px solid rgb(43, 39, 39);
}
.form{
    text-align: center;
    min-width: 400px;
    flex: 1;
    padding: 30px;
}
.form__input{
    font-size: 20px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    padding: 7px;
    margin: 7px 0px;
    border: none;
    border-bottom: 4px solid rgb(176, 212, 221);
    background: transparent;
}
.form__input:focus{
    background: linear-gradient(to bottom, transparent, rgb(69, 60, 60));
    outline: none;
    border-bottom: 4px solid rgb(50, 95, 106);
}
.form textarea{
    min-height: 140px;
    resize: none;
}
.form__input[type="submit"]{
    background-color: rgb(176, 212, 221);
    padding: 20px;
    border-bottom: none;
    color: rgb(43, 39, 39);
    font-size: 25px;
}
.form__input[type="submit"]:hover{
    background-color: rgb(68, 129, 145);
    padding: 20px;
    border-bottom: none;
    color: rgb(43, 39, 39);
    font-size: 25px
}
.form__input[type="submit"]:focus{
background: rgb(176, 212, 221);
}
.form__input[type="submit"]:active{
background: linear-gradient(to bottom, rgb(91, 194, 220), rgb(176, 212, 221) ) ;
}
.footer{
background-color: rgb(43, 39, 39) ;
color: white;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 0fr .5fr .2fr;
gap: 0px 0px;
grid-template-areas:
". . ."
"navfooter dat rrss"
"pie pie pie";
}
      
.navfooter { 
    grid-area: navfooter;
}
      
.dat {
    grid-area: dat; 
    grid-row: inherit;
}
      
.rrss {
    grid-area: rrss; 
    grid-row: inherit;
}
      
.pie {
    grid-area: pie; 
}
      
.foot__li{
    list-style: none;
    padding: 25px 0 15px;
}
.foot__li a{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: white;
}
.foot__ul{
    display: flex;
    flex-direction: column;
}
.dat__h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding: 25px 0 15px;
    display: flex;
    justify-content: center;
}
.dat__li{
    padding: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
}
.dat__li a{
    font-family: 'Montserrat', sans-serif;
    padding: 4px;
    text-decoration: none;
    color: white;
    font-size: 15px;
}
.dat__ul{
display: flex;
flex-direction: column;
}
.rrss__h3{
    font-family: 'Montserrat', sans-serif;
    margin-right: 20px;
    font-size: 20px;
    padding: 25px 0 15px;
    display: flex;
    justify-content: center;
}
.rrss__li a{
    color: white;
}
.rrss__ul{
    padding: 10px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    font-size: 35px;
}
.h4{
    border-top: 3px solid rgb(176, 212, 221);
    border-bottom: 5px solid rgb(176, 212, 221);
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 50px;
    padding: 8px;
    text-align: center;
}
.menu-footer{
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 768px){
.foot__li a{
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    text-decoration: none;
    color: white;
} 
.dat__h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    padding: 25px 0 15px;
    display: flex;
    justify-content: center;
}
.dat__ul{
font-size: 15px;
}
.dat__li{
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: start;
}
.dat__li a{
    font-family: 'Montserrat', sans-serif;
    padding: 4px;
    text-decoration: none;
    color: white;
    font-size: 8px;
}
.rrss__h3{
    font-family: 'Montserrat', sans-serif;
    margin-right: 0px;
    font-size: 10px;
    padding: 25px 0 15px;
    text-align: center;
}
.rrss__ul{
    padding: 10px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 15px;
}
.h4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: 2px solid rgb(176, 212, 221);
    border-bottom: 3px solid rgb(176, 212, 221);
    font-size: 8px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 0px;
    padding: 6px;
    text-align: center;
    width: 100%;
} 
}